.food-item {
    background-color : #222;
    border-radius : 10px;
    padding : 10px;
    margin : 10px;
}
.food-item > .food-pic {
    text-align : center;
}
.food-item > .food-pic > img {
    max-height : 500px;
    max-width : 100%;
}
.food-icon {
    max-width:200px;
    max-height:100%;
}