@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,700|Open+Sans:700);

/* Common for all objects */
body {
	padding : 60px 20px 60px; /* Top Side Bottom */
	font-family: "Ubuntu", Arial, sans-serif;
	background-color: #000;
	font-weight:300;
	color:#fff;
	font-size:16px;
}
body::-webkit-scrollbar {
	display : none;
}
h1, h2, h3 {
	font-family:"Open Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
}
h1 {
	color: #9b7617;
	font-size:28px;
}
h2 {
	color: #daa520;
	font-size:24px;
}
h3 {
	color: #e6bf5b;
	font-size:20px;
}
a.btn {
	background-color:#daa520;
	color:#000;
	font-size:20px;
	margin: 2px 2px 2px 2px;
	border-color:transparent;
}
a.btn:hover {
	background-color:#ff8;
	color:#000;
}
span.bold {
    font-weight:700;
    color:#ffc;
}

/* Navbar styles*/
.navbar-default {
	background-color: #000;
	color: #fff;
	border-bottom : 2px solid #444;
	padding-left:10px;
	padding-right:10px;
}
.navbar-nav>li {
	border-bottom: transparent solid 5px;
}
.navbar-nav>li.active, .navbar-nav>li.active:hover, .navbar-nav>li.active:focus {
	border-bottom: #daa520 solid 5px;
	background-color: #444;
}
.navbar-nav>li:hover, .navbar-nav>li:focus {
	background-color : #222;
	border-bottom: #ff8 solid 5px;
}
.navbar-nav > li.dropdown.open > a.dropdown-toggle {
	color : #fff;
	background-color : #222;
}
.navbar-nav > li.dropdown.open {
	border-bottom : #ff8 solid 5px;
}
.navbar-default .navbar-nav>.active:hover>a, .navbar-default .navbar-nav>.active:focus>a {
	color : #fff;
	background-color: #555;
}
.navbar-default .navbar-nav>li.active>a, .navbar-nav>.open:hover>a, .navbar-nav>.open:focus>a {
	color:#fff;
	background-color:#444;
}
.navbar-default .navbar-nav>li>a {
	color : #fff;
	background-color : #000;
}
.navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>li:focus>a {
	color : #fff;
	background-color : #222;
}
.navbar-header > a.navbar-brand, .navbar-header > a.navbar-brand:hover {
	color:#ff8;
	background-color:#000;
	font-weight:bold;
	font-size:22pt;
}
.dropdown:hover .dropdown-menu {
	display:block;
}
.dropdown-menu {
	background-color:#000;
	border-left: 2px solid #444;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
}
.dropdown-menu > li {
	background-color:#000;
	border-left: transparent solid 5px;
}
.dropdown-menu >li:hover {
	background-color:#222;
	border-left: #ff8 solid 5px;
}
.dropdown-menu > li > a {
	background-color:#000;
	color: #fff;
}
.dropdown-menu > li > a:hover {
	background-color : #222;
	color : #fff;
}
.dropdown-menu > .active, .dropdown-menu > .active:hover, .dropdown-menu > .active:focus {
	background-color:#444;
	border-left: #daa520 solid 5px;
}
.dropdown-menu>.active>a  {
	background-color : #444;
}
.dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color : #555;
}

/* Jumbotrons */
.jumbotron {
	background-color:transparent;
	text-align:center;
}

/* Footer */
.footer {
	position : fixed;
	bottom : 0;
	left : 0;
	width : 100%;
	height : 50px;
	border-top : 2px solid #444;
	background-color : #222;
	padding-top : 15px;
	padding-bottom : 15px;
	z-index : 999999999999;
}

/* Menu styles */
.food-item > img {
	height : 200px;
	width : auto;
	margin-left : auto;
	margin-right : auto;
	border : 1px solid #fff;
}
.food-item > .food-desc {
	display : none;
	width : 100%;
	text-align : justify;
}
.food-item:hover > .food-desc {
	display : block;
}
